.container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.card {
    background-color: whitesmoke;
    padding: 2% 0% 2% 0%;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    width: 10%;
    height: 10%;
    top: 0;
    left: 0;
    display: grid;
    border: 2px solid #e6e6e6;
}
.h5{
    font-size: medium;
    font-weight: bolder;
    align-items: center;
    padding-left: 5%;
    text-decoration: none;
}
a{
    text-decoration: none;
    color: black;
}